* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.userinfo{
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 35%;
    margin: 16px;
    float: left;
    margin-left: 10%;
}

.userinfo h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
    text-align: center;
}
.title {
    text-align: center;
    margin: 10px;
}
.textField {
    text-align: center;
    display: inline;
    margin: 5px;
    flex: 1;
    padding: 10px;
    margin-left: 5%;
}
.piechart{
    align-items: center;
    /* padding:20px; */
}
.orderbox{
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    /* padding-left: 5%; */
    width: 40%;
    /* margin: 10px; */
    float: right;
    /* margin-right: 10%; */
    /* justify-content: center; */
    /* align-content:space-around; */
    align-items: center;
}
.orderbox h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
    text-align: center;
}
.graphbox{
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 35%;
    margin: 10px;
    float: left;
    margin-left: 10%;
    justify-content: center;
    align-content:space-around;
    align-items: center;
}
.graphbox h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
    text-align: center;
}